.container {
  width: var(--smaller_width);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.title {
  font-size: var(--title_font_size);
}

.content {
  font-size: calc(var(--title_font_size) / 4);
}

.heading {
  grid-row-start: 1;
  grid-row-end: 2;
}

@media only screen and (min-width: 1000px) {
  .container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .heading {
    grid-row-end: 3;
  }
}