.container {
    background: white;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 100%;
    border-radius: var(--large_border_radius);

    --transittion_duration: 0.3s;
    --transition_type: ease-in;
}

.question {
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--title_font_size) / 3);
    margin: 1rem 0;
}

.arrow {
    font-size: 3rem;
    transition: rotate var(--transittion_duration) var(--transition_type);
}

.answer {
    font-size: x-large;
    height: fit-content;
    max-height: 0;
    overflow: hidden;
    transform-origin: top center;
    transition: max-height var(--transittion_duration) var(--transition_type);
}

.up_side_down {
    rotate: 180deg;
}

.expanded {
    max-height: 100px;
}