.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form input[type="email"] {
    background: white;  
    border-radius: var(--large_border_radius);  
}

.form input[type="email"] {
    padding: 1.5rem;
    font-size: large;
}

@media only screen and (min-width:600px) {
    .form { 
        flex-direction: row;
    }
}