.container {
    --text_margin: 1rem;
    background: white;
    width: 95vw;
    border-radius: var(--large_border_radius);
    display:flex;
    flex-direction: column;
}

.container p {
    margin: var(--text_margin) 0 0 0;
}

.image {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    border-radius: var(--large_border_radius);
}

.text_container {
    margin: 0 1.5rem;
    font-size: x-large;
}
.title {
    font-size: var(--title_font_size);
    margin: 4rem 0 var(--text_margin) 0;
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 75vw;
        align-items: end;
    }
    .image_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .image {
        width: 100%;
        height: 45vh;
    }

    .text_container {
        width: 40%;
        
    }
}