.container {
    background: black;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.title {
    font-size: var(--title_font_size);
    color: var(--color_very_close_to_white);
}

.link_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
