.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin: 1rem;
    border-radius: var(--large_border_radius);
    padding: 1rem;
}

.image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1rem 0;
}

.testimonial {
    font-size: x-large;
    margin: 1rem 0;
}

.name {
    font-size: x-large;
    margin: 1rem 0;
}
