.container {
  height: 100vh;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}


.title_bar_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: var(--title_bar_margin) 0 0 0;
  height: var(--title_bar_height);
}
.title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, var(--md_opacity));
  width: var(--title_bar_width);
  border-radius: var(--large_border_radius);
  backdrop-filter: blur(var(--md_blur));
}

.title_bar_image {
  width: var(--title_bar_height);
  border-radius: var(--large_border_radius);
  margin: auto 0.8rem;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0.4rem;
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 1rem;
}

.intro > * {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.intro_title {
  font-size: var(--title_font_size);
  font-weight: bold;
  color: var(--color_attention);
}

.intro_button {
  border: 2px solid white;
  border-radius: var(--large_border_radius); 
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.transitions {
  transition: scale var(--animation_short), visibility var(--animation_short), padding var(--animation_short);
}

.aside {
  position: absolute;
  top: calc(var(--title_bar_height) + var(--title_bar_margin) * 2);
  overflow: scroll;
  height: 0;
  max-height: 65vh;
  scale: 1 0;
  transform-origin: top center;
  box-sizing: border-box;
  width: 95vw;
  display:flex;
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, var(--md_opacity));
  border-radius: var(--large_border_radius);
  backdrop-filter: blur(var(--md_blur));
  list-style-type: none;
  padding: 0 1.5rem;
}

.link {
  padding: 1rem;
  width: fit-content;
  border-radius: var(--small_border_radius);
  display: block;
  transition: background-color var(--animation_short) ease-in;
}

.link:hover {
  background-color: #cccccc;
}

.aside li:last-child {
  grid-column: 5 / 6 ;
}
.aside li:last-child a {
  background-color: var(--color_passive);
  color:white;
  border-radius: var(--large_border_radius);
}

.aside li:last-child a:hover {
  background-color: color-mix(in srgb, var(--color_passive) 80%, var(--color_on_hover_mix));
}


.hamburger_menu {
  --bar-gap: 0.3rem;
  --hamburger-color: blue;
  --bar-height: 0.5rem;
  --bar-width: 3rem;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --bar-width-transformed: calc(var(--hamburger-height) * 1.4142);
  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  margin: 0 0.8rem;
  overflow: hidden;
}

.hamburger_menu::before,
.hamburger_menu::after,
.hamburger_menu input{
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--hamburger-color);
  transform-origin: right center;
  border-radius: 5rem;
  z-index: 1;
  transition: rotate var(--animation_short) ease-in, translate var(--animation_short) ease-in, visibility var(--animation_short) ease-in;
}

.hamburger_menu_expanded::before {
  rotate: -45deg;
  width: var(--bar-width-transformed);
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger_menu_expanded::after {
  rotate: 45deg;
  width: var(--bar-width-transformed);
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger_menu_expanded input {
  translate: 100%;
  visibility: hidden;
}

.aside_shown{
  visibility: visible;
  height: fit-content;
  scale: 1 1;
  padding: 1.5rem;
}


@media only screen and (min-width: 1000px) {
  .hamburger_menu {
    display:none;
  }
  .aside{
    transition: none;
    background: none;
    position: static;
    visibility: visible;
    
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(5, 20%);

    /*height: 10px;*/
    scale: 1 1;
    backdrop-filter: none;
    margin: 0.5rem;
    margin-left: 10%;
  }
  .aside {
    height: fit-content;
  }

  .link:last-child {
    grid-column: 5 / 6;
  }
}
