.container {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .container>*:last-child {
        grid-area: 2/1/3/3;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container>*:last-child {
        grid-area: auto;
    }
}