.container {
    background: white;
    width: var(--smaller_width);
    border-radius: var(--large_border_radius);
}

.image {
    width: 100%;
    border-radius: var(--large_border_radius);
    object-fit: cover;
}

.text_container {
    margin: 1rem;
    font-size: 1.5rem;
}

.title {
    margin: 2rem 0;
    font-size: var(--title_font_size);
}

.text_container p {
    margin: 1.5rem 0;
    line-height: 2.5rem;
}

@media only screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
    }
}