:root {
  --color_attention: #EAC341;
  --color_passive: #456AE2;
  --color_background_accent: #9D8B52;
  --color_very_close_to_white: rgb(220, 230, 240);


  --color_on_hover_mix: white 20%;

  --md_opacity: 0.6;

  --md_blur: 5px;

  --title_bar_height: 15vh;
  --title_bar_margin: 0.5rem;
  --title_bar_width: 95vw;

  --large_border_radius: 2rem;
  --small_border_radius: 0.5rem;

  --smaller_width: 80%;

  --animation_short: 0.3s;

  --title_font_size: 3rem;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 2.5rem;
}

.small_width_wrapper {
  background: var(--color_background_accent);
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}


.user_submitted_form {
  padding: 2rem;
  border-radius: var(--large_border_radius);
  border: dashed green;
  margin-bottom: 3rem;
}

.user_submitted_form h2 {
  color: darkgreen;
  font-size: calc(var(--title_font_size) / 2);
}

@media only screen and (min-width: 600px) {
  :root {
    --title_font_size: 5rem;
  }
}