.action_button {
    border-radius: var(--large_border_radius);
    background: var(--color_passive);
    color: white;
    width: fit-content;
    margin: 1rem 1rem;

    padding: 1.5rem;
    font-size: large;
}

.action_button:hover {
    background: color-mix(in srgb, var(--color_passive) 80%, var(--color_on_hover_mix))
}