.container {
    background: var(--color_attention);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 3rem 0;
    font-size: var(--title_font_size);
    text-align: center;
    width: 80%;
}

.container p{
    font-size: 1.3rem;
    margin: 0 0.7rem;
}
