.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin: 0.8rem 0 0.5rem 0;
    font-size: xx-large;
}

.image {
    border-radius: var(--large_border_radius);
    width: 85%;
    max-height: 350px;
    object-fit: cover;
}

.job_title {
    font-size: x-large;
    margin: 0 0 3rem 0;
}