.container {
    display: block;
    padding: 20px;
    background: white;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    margin: 2rem;
}
.image {
    width: 75px;
    height: 75px;
}