.container {
    padding: 0 0 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

 .container * {
    font-size: calc(var(--title_font_size) / 3);
    border-radius: var(--large_border_radius);
    background: white;
    padding: 1rem;

    grid-column-start: 1;
    grid-column-end: -1;
}

.submit {
    background: var(--color_passive);
    color: white;
}

.submit:hover {
    background: color-mix(in srgb, var(--color_passive), var(--color_on_hover_mix));
}

@media only screen and (min-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .name {
        grid-column: 1/2;
    }
    
    .email {
        grid-column: -2/-1;
    }
}
