.title {
    margin: 6rem 0 4rem 0;
    font-size: var(--title_font_size);
    width: 100%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

