.container {
  border-radius: var(--large_border_radius);
  min-width: 0;
  overflow: hidden;

  background-color: white;

  position: relative;
}

.container:nth-child(1) {
  grid-area: 1/1/2/2;
}
.container:nth-child(2) {
  grid-area: 2/1/3/2;
}
.container:nth-child(3) {
  grid-area: 3/1/4/2;
}
.container:nth-child(4) {
  grid-area: 4/1/5/2;
}

.container:has(input:checked) {
  z-index: 4;
  grid-area: 1/1/-1/-1;
}

.image {
  transition: transform ease-in-out 0.15s;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: var(--large_border_radius);
  margin: 0 1rem 1rem 0;

  float:left
}

.container:hover .image{
  transform: scale(1.05, 1.05);
}
.container:has(input:checked) .image {
  transform: scale(1, 1);
}

.content {
  width: 85vw;
  display: none;
}

.container:has(input:checked) .content {
  display: block;
}

.input {
  display: none;
}

.name {
  margin: .5rem 0 0 0;
  font-size: calc(var(--title_font_size) / 3);
}

.category {
  font-size: calc(var(--title_font_size) / 4);
}

.button {
  display: block;
  margin: 0 0 2rem 0;
  font-size: calc(var(--title_font_size) / 4);
  padding: 1rem;
  border-radius: var(--large_border_radius);
  background: var(--color_passive);
  width: fit-content;
  color: white;

  transition: all 0.2s;
}

.button:hover {
    background: color-mix(in srgb, var(--color_passive) 80%, var(--color_on_hover_mix))
} 

@keyframes attention {
  25% {
    scale: 50%;
  }
  50% {
    scale: 150%;
  }

  
}
.close {
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.open {
  opacity: 1;
  display:block;
}

.container:has(input:checked) .open{
  transform: translateX(-100%);
  opacity: 0;
  display: none;
}

.container:has(input:checked) .close{
  opacity: 1;

  animation: attention 4s;
  display: block;
}

@media only screen and (min-width: 600px) {
  .container:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .container:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .container:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .container:nth-child(4) {
    grid-area: 2/2/3/3;
  }

  .container:has(input:checked) .image {
    width: 30vw;
  }
}

@media only screen and (min-width: 1000px) {
  .container:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .container:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .container:nth-child(3) {
    grid-area: 1/3/2/4;
  }
  .container:nth-child(4) {
    grid-area: 1/4/2/5;
  }

  .container:has(input:checked) .image {
    width: 50vw;
  }
}