.container {
    width: var(--smaller_width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: var(--title_font_size);
    margin: 2rem;
}