.container {
  background: white;
  padding: 2rem;
  border-radius: var(--large_border_radius);
}

.title {
  font-size: calc(var(--title_font_size) / 3);
}


.content {
  font-size: calc(var(--title_font_size) / 4);
}