.container {
  margin: 3rem 1rem;
}

.blog_item_container {
  gap: 3rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  justify-content: center;
}

.title {
  margin: 2rem 0;
  font-size: var(--title_font_size);
  width: 100%;
  text-align: center;
}


@media only screen and (min-width: 600px) {
  .blog_item_container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1000px) {
  .blog_item_container{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
