.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color_background_accent);
    padding: 6rem 1rem 2rem 1rem;
    width: var(--smaller_width);
}

.title {
    font-size: var(--title_font_size);
    margin: 0 0 3rem 0;
}

.witness_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 1000px) {
    .witness_container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}