.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.title {
    font-size: var(--title_font_size);
    color: var(--color_passive);
}

.message {
    font-size: calc(var(--title_font_size) / 3);
}